.album-item
  border-radius 3px
  background-color #F8F8F8
  border 1px solid darken(#f8f8f8, 10%)

  .album-image
    margin 10px

    img
      height 200px

  .album-description
    margin 10px

    .album-title
      display block
      color $btn-success-bg
      font-size 16px
      font-weight bold
      text-decoration none
      transition all .3s ease-in-out

      &:hover
        color darken(@color, 20%)
        text-decoration none
